
#Sobrevivência empresarial em Pernambuco com base no PIB e nos dados abertos da RFB: uma análise em dois períodos sociopolítico econômicos da história do Brasil

#Elisângela P.M. Santana¹, Edivaldo R.S. Júnior², Cleide Lins de Almeida³


##SCRIPT01 - TRATAMENTO DE DADOS INICIAL

BAIXAR A BASE DE DADOS DA RECEITA (Dados Públicos CNPJ) \
https://www.gov.br/receitafederal/pt-br/assuntos/orientacao-tributaria/cadastros/consultas/dados-publicos-cnpj. Acesso em 01/05/2022

BASES UTILIZADAS: \
Dados Abertos CNPJ EMPRESA 01 > K3241.K03200Y0.D20312.EMPRECSV \
Dados Abertos CNPJ EMPRESA 02 > K3241.K03200Y1.D20312.EMPRECSV \
Dados Abertos CNPJ EMPRESA 03 > K3241.K03200Y2.D20312.EMPRECSV \
Dados Abertos CNPJ EMPRESA 04 > K3241.K03200Y3.D20312.EMPRECSV \
Dados Abertos CNPJ EMPRESA 05 > K3241.K03200Y4.D20312.EMPRECSV \
Dados Abertos CNPJ EMPRESA 06 > K3241.K03200Y5.D20312.EMPRECSV \
Dados Abertos CNPJ EMPRESA 07 > K3241.K03200Y6.D20312.EMPRECSV \
Dados Abertos CNPJ EMPRESA 08 > K3241.K03200Y7.D20312.EMPRECSV \
Dados Abertos CNPJ EMPRESA 09 > K3241.K03200Y8.D20312.EMPRECSV \
Dados Abertos CNPJ EMPRESA 10 > K3241.K03200Y9.D20312.EMPRECSV \
Dados Abertos CNPJ ESTABELECIMENTO 01 > K3241.K03200Y0.D20312.ESTABELE \
Dados Abertos CNPJ ESTABELECIMENTO 02 > K3241.K03200Y1.D20312.ESTABELE \
Dados Abertos CNPJ ESTABELECIMENTO 03 > K3241.K03200Y2.D20312.ESTABELE \
Dados Abertos CNPJ ESTABELECIMENTO 04 > K3241.K03200Y3.D20312.ESTABELE \
Dados Abertos CNPJ ESTABELECIMENTO 05 > K3241.K03200Y4.D20312.ESTABELE \
Dados Abertos CNPJ ESTABELECIMENTO 06 > K3241.K03200Y5.D20312.ESTABELE \
Dados Abertos CNPJ ESTABELECIMENTO 07 > K3241.K03200Y6.D20312.ESTABELE \
Dados Abertos CNPJ ESTABELECIMENTO 08 > K3241.K03200Y7.D20312.ESTABELE \
Dados Abertos CNPJ ESTABELECIMENTO 09 > K3241.K03200Y8.D20312.ESTABELE \
Dados Abertos CNPJ ESTABELECIMENTO 10 > K3241.K03200Y9.D20312.ESTABELE \
Informações sobre o Simples Nacional/MEI > F.K03200$W.SIMPLES.CSV.D20312 \
Tabela de atributo CNAE > F.K03200$Z.D20312.CNAECSV \
Tabela de motivo da situação cadastral > F.K03200$Z.D20312.MOTICSV \
Tabela de atributo Município > F.K03200$Z.D20312.MUNICCSV \
Tabela de atributo Natureza Jurídica > F.K03200$Z.D20312.NATJUCSV \
Tabela de atributo País > F.K03200$Z.D20312.PAISCSV \
Tabela de atributo qualificação dos sócios > F.K03200$Z.D20312.QUALSCSV \
Dados Abertos Sítio RFB Data Base 13-03-202222 > Extracao 01-05-2022

In [ ]:
# CARREGANDO AS BIBLIOTECAS 

#!pip install matplotlib 
#!pip install numpy
#!pip install pandas
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
#VISUALIZAR PACOTES INSTALADOS
#!pip freeze

# CRIAR ARQUIVO REQUERIMENTS.TXT
#!pip freeze > requirements.txt

In [ ]:
caminho = 'D:\\#PROJETOS\\FURG\\ECD-CIENCIA DE DADOS\\#TCC-FURG\\BASE-RFB-12-03-2022'
tratada = 'D:\#PROJETOS\FURG\ECD-CIENCIA DE DADOS\#TCC-FURG\BASE-RFB-12-03-2022\TRATADA'

IMPORTAR TABELAS COMPLEMENTARES (SIMPLES , CNAE, MOTIVO, MUNICIPIO, NATUREZA JURIDICA, PAIS, QUALIFICACAO)

In [ ]:
#IMPORTAR TABELA SIMPLES NACIONAL (simples) #DIRETORIOS DEFINIDOS
os.chdir(caminho)


simples = pd.read_csv('F.K03200$W.SIMPLES.CSV.D20312.csv', sep=';',header=None)
simples.columns = ['CNPJ BASICO', 'OPÇÃO PELO SIMPLES','DATA_INC_SIM','DATA EXC_SIMP','MEI','DATA_INT_MEI','DATA_EXC_MEI']
simples.head()

#EXPORTAR TABELA SIMPLES NACIONAL
os.chdir(tratada)
simples.to_csv(r'simples.csv', index = False)

In [ ]:
simples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31095263 entries, 0 to 31095262
Data columns (total 7 columns):
 #   Column              Dtype
---  ------              -----
 0   CNPJ BASICO         int64
 1   OPÇÃO PELO SIMPLES  object
 2   DATA_INC_SIM        int64
 3   DATA EXC_SIMP       int64
 4   MEI                 object
 5   DATA_INT_MEI        int64
 6   DATA_EXC_MEI        int64
dtypes: int64(5), object(2)
memory usage: 1.6+ GB

In [ ]:
#LIMPAR MEMORIA
del simples
import gc
gc.collect()

0

In [ ]:
#IMPORTAR TABELA CNAE (cnae)
os.chdir(caminho)
cnae = pd.read_csv('F.K03200$Z.D20312.CNAECSV.csv', sep=";" , encoding='ISO-8859-1',header=None)
cnae.columns = ['N_CNAE', 'DESC_CNAE']
cnae.head()

#EXPORTAR TABELA CNAE
os.chdir(tratada)
cnae.to_csv(r'cnae.csv', index = False)

In [ ]:
cnae.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1359 entries, 0 to 1358
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   N_CNAE     1359 non-null   int64
 1   DESC_CNAE  1359 non-null   object
dtypes: int64(1), object(1)
memory usage: 21.4+ KB

In [ ]:
#LIMPAR MEMORIA
del cnae
import gc
gc.collect()

0

In [ ]:
#IMPORTAR TABELA MOTIVO (motivo)
os.chdir(caminho)
motivo = pd.read_csv('F.K03200$Z.D20312.MOTICSV.csv', sep=";" , encoding='ISO-8859-1', header=None)
motivo.columns = ['N_MOTIVO', 'DESC_MOTIVO']
motivo.head()

#EXPORTAR TABELA MOTIVO
os.chdir(tratada)
motivo.to_csv(r'motivo.csv', index = False)

In [ ]:
motivo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N_MOTIVO     61 non-null     int64
 1   DESC_MOTIVO  61 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.1+ KB

In [ ]:
#LIMPAR MEMORIA
del motivo
import gc
gc.collect()

0

In [ ]:
#IMPORTAR TABELA MUNICIPIO (municipio)
os.chdir(caminho)
municipio = pd.read_csv('F.K03200$Z.D20312.MOTICSV.csv', sep=";" , encoding='ISO-8859-1',header=None)
municipio.columns = ['N_MUNIC', 'DESC_MUNIC']
municipio.head()

#EXPORTAR TABELA MUNICIPIO (municipio)
os.chdir(tratada)
municipio.to_csv(r'municipio.csv', index = False)

In [ ]:
municipio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   N_MUNIC     61 non-null     int64
 1   DESC_MUNIC  61 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.1+ KB

In [ ]:
#LIMPAR MEMORIA
del municipio
import gc
gc.collect()

0

In [ ]:
#IMPORTAR TABELA NATUREZA JURIDICA (natju)
os.chdir(caminho)
natju = pd.read_csv('F.K03200$Z.D20312.NATJUCSV.csv', sep=";" , encoding='ISO-8859-1',header=None)
natju.columns = ['N_NATJU', 'DESC_NATJU']
natju.head()

#EXPORTAR TABELA NATJU
os.chdir(tratada)
natju.to_csv(r'natju.csv', index = False)

In [ ]:
natju.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   N_NATJU     89 non-null     int64
 1   DESC_NATJU  89 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.5+ KB

In [ ]:
#LIMPAR MEMORIA
del natju
import gc
gc.collect()

0

In [ ]:
#IMPORTAR TABELA PAIS (pais)
os.chdir(caminho)
pais = pd.read_csv('F.K03200$Z.D20312.PAISCSV.csv', sep=";" , encoding='ISO-8859-1')
pais.columns = ['N_PAIS', 'DESC_PAIS']
pais.head()

#EXPORTAR TABELA PAIS
os.chdir(tratada)
pais.to_csv(r'pais.csv', index = False)

In [ ]:
pais.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   N_PAIS     254 non-null    int64
 1   DESC_PAIS  254 non-null    object
dtypes: int64(1), object(1)
memory usage: 4.1+ KB

In [ ]:
#LIMPAR MEMORIA
del pais
import gc
gc.collect()

0

In [ ]:
#IMPORTAR TABELA QUALIFICACAO (qualif)
os.chdir(caminho)
qualif = pd.read_csv('F.K03200$Z.D20312.QUALSCSV.csv', sep=';', encoding='ISO-8859-1')
qualif.columns = ['N_QUALIF', 'DESC_QUALIF']
qualif.head()

#EXPORTAR TABELA QUALIFICAÇÃO
os.chdir(tratada)
qualif.to_csv(r'qualif.csv', index = False)

In [ ]:
qualif.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N_QUALIF     67 non-null     int64
 1   DESC_QUALIF  67 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.2+ KB

In [ ]:
#LIMPAR MEMORIA
del qualif
import gc
gc.collect()

0

TRATAMENTO DE DADOS INICIAL ARQUIVOS EMPRESA SITE DA RFB  K3241.K03200Y0.D20312.EMPRE.CSV  A K3241.K03200Y9.D20312.EMPRE.CSV

In [ ]:
#IMPORTAR TABELA EMPRESAS #00
os.chdir(caminho)
empresa0 = pd.read_csv('K3241.K03200Y0.D20312.EMPRECSV.CSV', sep=';', encoding='ISO-8859-1')
empresa0.columns = ['CNPJ BASICO', 'RAZÃO SOCIAL','NATJU','QUALIF','CAP_SOCIAL','PORTE','ENTE_FED']
empresa0.head()

#EXPORTAR TABELA EMPRESA_0
os.chdir(tratada)
empresa0.to_csv(r'empresa0.csv', index = False)

#LIMPAR MEMORIA
del empresa0
import gc
gc.collect()

0

In [ ]:
#IMPORTAR TABELA EMPRESAS #01 
os.chdir(caminho)
empresa1 = pd.read_csv('K3241.K03200Y1.D20312.EMPRECSV.CSV', sep=';', encoding='ISO-8859-1')
empresa1.columns = ['CNPJ BASICO', 'RAZÃO SOCIAL','NATJU','QUALIF','CAP_SOCIAL','PORTE','ENTE_FED']

#EXPORTAR TABELA EMPRESA_1
os.chdir(tratada)
empresa1.to_csv(r'empresa1.csv', index = False)

#LIMPAR MEMORIA
del empresa1
import gc
gc.collect()

0

In [ ]:
#IMPORTAR TABELA EMPRESAS #02 
os.chdir(caminho)
empresa2 = pd.read_csv('K3241.K03200Y2.D20312.EMPRECSV.CSV', sep=';', encoding='ISO-8859-1')
empresa2.columns = ['CNPJ BASICO', 'RAZÃO SOCIAL','NATJU','QUALIF','CAP_SOCIAL','PORTE','ENTE_FED']

#EXPORTAR TABELA EMPRESA_2
os.chdir(tratada)
empresa2.to_csv(r'empresa2.csv', index = False)

#LIMPAR MEMORIA
del empresa2
import gc
gc.collect()

0

In [ ]:
#IMPORTAR TABELA EMPRESAS #03 
os.chdir(caminho)
empresa3 = pd.read_csv('K3241.K03200Y3.D20312.EMPRECSV.CSV', sep=';', encoding='ISO-8859-1')
empresa3.columns = ['CNPJ BASICO', 'RAZÃO SOCIAL','NATJU','QUALIF','CAP_SOCIAL','PORTE','ENTE_FED']

#EXPORTAR TABELA EMPRESA_3
os.chdir(tratada)
empresa3.to_csv(r'empresa3.csv', index = False)

#LIMPAR MEMORIA
del empresa3
import gc
gc.collect()

0

In [ ]:
#IMPORTAR TABELA EMPRESAS #04 
os.chdir(caminho)
empresa4 = pd.read_csv('K3241.K03200Y4.D20312.EMPRECSV.CSV', sep=';', encoding='ISO-8859-1')
empresa4.columns = ['CNPJ BASICO', 'RAZÃO SOCIAL','NATJU','QUALIF','CAP_SOCIAL','PORTE','ENTE_FED']

#EXPORTAR TABELA EMPRESA_4
os.chdir(tratada)
empresa4.to_csv(r'empresa4.csv', index = False)

#LIMPAR MEMORIA
del empresa4
import gc
gc.collect()

0

In [ ]:
#IMPORTAR TABELA EMPRESAS #05 
os.chdir(caminho)
empresa5 = pd.read_csv('K3241.K03200Y5.D20312.EMPRECSV.CSV', sep=';', encoding='ISO-8859-1')
empresa5.columns = ['CNPJ BASICO', 'RAZÃO SOCIAL','NATJU','QUALIF','CAP_SOCIAL','PORTE','ENTE_FED']

#EXPORTAR TABELA EMPRESA_5
os.chdir(tratada)
empresa5.to_csv(r'empresa5.csv', index = False)

#LIMPAR MEMORIA
del empresa5
import gc
gc.collect()

0

In [ ]:
#IMPORTAR TABELA EMPRESAS #06 
os.chdir(caminho)
empresa5 = pd.read_csv('K3241.K03200Y6.D20312.EMPRECSV.CSV', sep=';', encoding='ISO-8859-1')
empresa5.columns = ['CNPJ BASICO', 'RAZÃO SOCIAL','NATJU','QUALIF','CAP_SOCIAL','PORTE','ENTE_FED']

#EXPORTAR TABELA EMPRESA_6
os.chdir(tratada)
empresa5.to_csv(r'empresa6.csv', index = False)

#LIMPAR MEMORIA
del empresa5
import gc
gc.collect()

0

In [ ]:
#IMPORTAR TABELA EMPRESAS #07 
os.chdir(caminho)
empresa5 = pd.read_csv('K3241.K03200Y7.D20312.EMPRECSV.CSV', sep=';', encoding='ISO-8859-1')
empresa5.columns = ['CNPJ BASICO', 'RAZÃO SOCIAL','NATJU','QUALIF','CAP_SOCIAL','PORTE','ENTE_FED']

#EXPORTAR TABELA EMPRESA_7
os.chdir(tratada)
empresa5.to_csv(r'empresa7.csv', index = False)

#LIMPAR MEMORIA
del empresa5
import gc
gc.collect()

0

In [ ]:
#IMPORTAR TABELA EMPRESAS #08 
os.chdir(caminho)
empresa8 = pd.read_csv('K3241.K03200Y8.D20312.EMPRECSV.CSV', sep=';', encoding='ISO-8859-1')
empresa8.columns = ['CNPJ BASICO', 'RAZÃO SOCIAL','NATJU','QUALIF','CAP_SOCIAL','PORTE','ENTE_FED']

#EXPORTAR TABELA EMPRESA_8
os.chdir(tratada)
empresa8.to_csv(r'empresa8.csv', index = False)

#LIMPAR MEMORIA
del empresa8
import gc
gc.collect()

0

In [ ]:
#IMPORTAR TABELA EMPRESAS #09 
os.chdir(caminho)
empresa9 = pd.read_csv('K3241.K03200Y9.D20312.EMPRECSV.CSV', sep=';', encoding='ISO-8859-1')
empresa9.columns = ['CNPJ BASICO', 'RAZÃO SOCIAL','NATJU','QUALIF','CAP_SOCIAL','PORTE','ENTE_FED']

#EXPORTAR TABELA EMPRESA_9
os.chdir(tratada)
empresa9.to_csv(r'empresa9.csv', index = False)

#LIMPAR MEMORIA
del empresa9
import gc
gc.collect()

0

In [ ]:
os.chdir(tratada)

#IMPORTAR DATAFRAME EMPRESA (COLUNAS SELECIONADAS)
empresa0 = pd.read_csv('empresa0.csv', sep=',', encoding='UTF-8')
empresa1 = pd.read_csv('empresa1.csv', sep=',', encoding='UTF-8')
empresa2 = pd.read_csv('empresa2.csv', sep=',', encoding='UTF-8')
empresa3 = pd.read_csv('empresa3.csv', sep=',', encoding='UTF-8')
empresa4 = pd.read_csv('empresa4.csv', sep=',', encoding='UTF-8')
empresa5 = pd.read_csv('empresa5.csv', sep=',', encoding='UTF-8')
empresa6 = pd.read_csv('empresa6.csv', sep=',', encoding='UTF-8')
empresa7 = pd.read_csv('empresa7.csv', sep=',', encoding='UTF-8')
empresa8 = pd.read_csv('empresa8.csv', sep=',', encoding='UTF-8')
empresa9 = pd.read_csv('empresa9.csv', sep=',', encoding='UTF-8')

In [ ]:
# JUNTAR DATAFRAME EMPRESA
empresaTratada = empresa0.append(empresa1)
empresaTratada = empresaTratada.append(empresa2)
empresaTratada = empresaTratada.append(empresa3)
empresaTratada = empresaTratada.append(empresa4)
empresaTratada = empresaTratada.append(empresa5)
empresaTratada = empresaTratada.append(empresa6)
empresaTratada = empresaTratada.append(empresa7)
empresaTratada = empresaTratada.append(empresa8)
empresaTratada = empresaTratada.append(empresa9)

In [ ]:
#EXPORTAR TABELA EMPRESA TOTAL (empresa)
empresaTratada.to_csv(r'empresaTratada.csv', index = False)

In [ ]:
#VALIDAR REGISTROS DE EMPRESAS TOTAL
print('Empresa 0 contem ', empresa0.shape, ' registros')
print('Empresa 1 contem ', empresa1.shape, ' registros')
print('Empresa 2 contem ', empresa2.shape, ' registros')
print('Empresa 3 contem ', empresa3.shape, ' registros')
print('Empresa 4 contem ', empresa4.shape, ' registros')
print('Empresa 5 contem ', empresa5.shape, ' registros')
print('Empresa 6 contem ', empresa6.shape, ' registros')
print('Empresa 7 contem ', empresa7.shape, ' registros')
print('Empresa 8 contem ', empresa8.shape, ' registros')
print('Empresa 9 contem ', empresa9.shape, ' registros')
print('Total de registros = ', empresa0.shape[0] + empresa1.shape[0] 
+ empresa2.shape[0] + empresa3.shape[0] + empresa4.shape[0] + empresa5.shape[0] 
+ empresa6.shape[0] +empresa7.shape[0] + empresa8.shape[0] + empresa9.shape[0])
print('Empresas Total contem ', empresaTratada.shape, ' registros')

Empresa 0 contem  (8697760, 7)  registros
Empresa 1 contem  (4494859, 7)  registros
Empresa 2 contem  (4494859, 7)  registros
Empresa 3 contem  (4494859, 7)  registros
Empresa 4 contem  (4494859, 7)  registros
Empresa 5 contem  (4494859, 7)  registros
Empresa 6 contem  (4494859, 7)  registros
Empresa 7 contem  (4494859, 7)  registros
Empresa 8 contem  (4494859, 7)  registros
Empresa 9 contem  (4494859, 7)  registros
Total de registros =  49151491
Empresas Total contem  (49151491, 7)  registros

In [ ]:
empresa0.head()

,CNPJ BASICO,RAZÃO SOCIAL,NATJU,QUALIF,CAP_SOCIAL,PORTE,ENTE_FED
0,41273603,GRAFLINE ACESSORIOS GRAFICOS LTDA,2062,49,"10000,00",1.0,NaN
1,41273604,RUMO - ESTUDIO DE DANCA LTDA,2062,49,"10000,00",1.0,NaN
2,41273605,WALLACE DE OLIVEIRA SILVA 42992101826,2135,50,"1000,00",1.0,NaN
3,41273606,MARCOS CESAR DE MELO JUNIOR 02569327190,2135,50,"72000,00",1.0,NaN
4,41273607,LAYANE SCARLETT DE SOUZA ARAUJO 07071498199,2135,50,"1,00",1.0,NaN

In [ ]:
empresa1.head()

,CNPJ BASICO,RAZÃO SOCIAL,NATJU,QUALIF,CAP_SOCIAL,PORTE,ENTE_FED
0,1,ASSOCIACAO DE AMIGOS DE BAIRRO DO CONJ PAULISTANO,3999,16,"0,00",5.0,NaN
1,2,WM&R EMPREITEIRA DE CONSTRUCAO CIVIL LIMITADA,2240,49,"0,00",5.0,NaN
2,3,CASA CARIDADE LUZETE ROBERTA DE MORAIS CONJ PA...,3999,16,"0,00",5.0,NaN
3,4,ASSOCIACAO DO PEQUENO ADOLECENTE DO CONJ PAULI...,3999,16,"0,00",5.0,NaN
4,5,SERRALHERIA PORTA DE ACO REAL S/C LTDA,2240,28,"0,00",5.0,NaN

In [ ]:
empresa2.head()

,CNPJ BASICO,RAZÃO SOCIAL,NATJU,QUALIF,CAP_SOCIAL,PORTE,ENTE_FED
0,4631963,EXPRESSO COSTA LTDA,2062,49,"0,00",1.0,NaN
1,4631964,PAULO BRAGA PROJETOS ESTRUTURAIS E CONSULTORIA...,2232,49,"20000,00",1.0,NaN
2,4631965,COTERMAQ CONSERTOS E TERCEIRIZACAO DE MAQUINAS...,2062,49,"0,00",3.0,NaN
3,4631967,ACACIA MEDICINA DO TRABALHO E SEGURANCA LTDA,2240,49,"10000,00",3.0,NaN
4,4631968,CONDOMINIO DO EDIFICIO PORTAL LILAS,3085,19,"0,00",5.0,NaN

In [ ]:
empresa3.head()

,CNPJ BASICO,RAZÃO SOCIAL,NATJU,QUALIF,CAP_SOCIAL,PORTE,ENTE_FED
0,9253558,EMBALAGENS VIVETO LTDA,2062,49,"15000,00",1.0,NaN
1,9253559,DISTRIBUIDORA RICHTER LTDA,2062,5,"33000,00",1.0,NaN
2,9253560,L.M. AMARAL DA SILVA & CIA.LTDA,2062,49,"1000,00",1.0,NaN
3,9253561,MUNDO GOSPEL MULTIMIDIA MANA LTDA,2062,49,"5000,00",1.0,NaN
4,9253562,"NOGUEIRA TREINAMENTOS, REPRESENTACOES E CONSUL...",2062,49,"10000,00",1.0,NaN

In [ ]:
empresa4.head()

,CNPJ BASICO,RAZÃO SOCIAL,NATJU,QUALIF,CAP_SOCIAL,PORTE,ENTE_FED
0,13846072,ANA PAULA RODRIGUES DA SILVA 00725813016,2135,50,"1,00",1.0,NaN
1,13846073,DOMINGO CUSSI NINA 23479340822,2135,50,"1,00",1.0,NaN
2,13846074,C.S. CARVALHO,2135,50,"5000,00",1.0,NaN
3,13846075,MINISTERIO INTERNACIONAL PACTO ETERNO COM JESUS,3220,16,"0,00",5.0,NaN
4,13846076,JOAO BATISTA NERY DE SOUZA,2135,50,"0,00",5.0,NaN

In [ ]:
empresa5.head()

,CNPJ BASICO,RAZÃO SOCIAL,NATJU,QUALIF,CAP_SOCIAL,PORTE,ENTE_FED
0,18421576,VANOLI R DE LEMOS & CIA LTDA,2062,49,"50000,00",1.0,NaN
1,18421577,LUNA & MONTEIRO COMERCIO VAREJISTA LTDA,2062,49,"30000,00",1.0,NaN
2,18421578,MARIA LUCIA XAVIER DE SOUZA,2135,50,"0,00",5.0,NaN
3,18421579,TS IMPRESSOS GRAFICOS LTDA,2062,49,"50000,00",1.0,NaN
4,18421580,ROSENVAL ANTONIO FEITOSA LELIS 20803575300,2135,50,"2000,00",1.0,NaN

In [ ]:
empresa6.head()

,CNPJ BASICO,RAZÃO SOCIAL,NATJU,QUALIF,CAP_SOCIAL,PORTE,ENTE_FED
0,22967220,MARIA ANGELICA ALVES,2135,50,"10000,00",1.0,NaN
1,22967221,SONIA MARIA LOPES 05182200790,2135,50,"2000,00",1.0,NaN
2,22967222,MARCELO DE SOUZA MOURA 05576190335,2135,50,"5000,00",1.0,NaN
3,22967223,JEAN BARBOSA DOS SANTOS 31088034845,2135,50,"1,00",1.0,NaN
4,22967224,JAIRO DA CUNHA JUNIOR,2135,50,"10000,00",1.0,NaN

In [ ]:
empresa7.head()

,CNPJ BASICO,RAZÃO SOCIAL,NATJU,QUALIF,CAP_SOCIAL,PORTE,ENTE_FED
0,27499614,PADARIA E CONFEITARIA EMPORIO DOS QUITUTES LTDA,2062,49,"30000,00",1.0,NaN
1,27499615,ARNO HENRIQUE FLEGLER,2135,50,"0,00",1.0,NaN
2,27499616,PAULO CLOVIS MOTTA ALLENDE - SOCIEDADE INDIVID...,2321,65,"5000,00",5.0,NaN
3,27499617,CESAR VINICIUS PEREIRA COSTA 02211675018,2135,50,"100,00",1.0,NaN
4,27499618,WILSON DE CAMPOS 36635154949,2135,50,"1,00",1.0,NaN

In [ ]:
empresa8.head()

,CNPJ BASICO,RAZÃO SOCIAL,NATJU,QUALIF,CAP_SOCIAL,PORTE,ENTE_FED
0,32066837,ITANA MACEDO SOBRAL 01744700532,2135,50,"7000,00",1.0,NaN
1,32066838,J. M. DE JESUS DOS SANTOS EIRELI,2305,65,"100000,00",1.0,NaN
2,32066839,REFRARIO LANCHES E VIDEO LTDA,2062,49,"0,00",5.0,NaN
3,32066840,DENISE WERGENSKI 06357255920,2135,50,"50000,00",1.0,NaN
4,32066841,OSMAR CASAGRANDE 23438410044,2135,50,"10000,00",1.0,NaN

In [ ]:
empresa9.head()

,CNPJ BASICO,RAZÃO SOCIAL,NATJU,QUALIF,CAP_SOCIAL,PORTE,ENTE_FED
0,36627985,JULIANA RAMOS DE MELO MARQUES 36687602845,2135,50,"500,00",1.0,NaN
1,36627986,FABRICIO DA SILVA SEIXAS 01555083420,2135,50,"500,00",1.0,NaN
2,36627987,MARIA LAUDECI SILVA DE ASSIS ALMEIDA 11182384862,2135,50,"2000,00",1.0,NaN
3,36627988,WILLIAN MEIRES DE MARINS 17802351782,2135,50,"300,00",1.0,NaN
4,36627989,VERONICA TADEU PEREIRA 05548260707,2135,50,"2500,00",1.0,NaN

In [ ]:
#VERIFICAR DADOS FALTANTES
print(pd.isnull(empresaTratada).sum())

CNPJ BASICO            0
RAZÃO SOCIAL           2
NATJU                  0
QUALIF                 0
CAP_SOCIAL             0
PORTE              63173
ENTE_FED        49090331
dtype: int64

In [ ]:
#TESTANTO INTEGRIDADE DO ARQUIVO EMPRESAS
os.chdir(tratada)
empresaTratada = pd.read_csv('empresaTratada.csv', sep=',', encoding='UTF-8', usecols = ['CNPJ BASICO','NATJU','CAP_SOCIAL','QUALIF','PORTE'])

In [ ]:
empresaTratada.shape

(49151491, 5)

In [ ]:
empresaTratada.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49151491 entries, 0 to 49151490
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   CNPJ BASICO  int64
 1   NATJU        int64
 2   QUALIF       int64
 3   CAP_SOCIAL   object
 4   PORTE        float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.8+ GB

In [ ]:
empresaTratada.head()

   CNPJ BASICO  NATJU  QUALIF CAP_SOCIAL  PORTE
0     41273603   2062      49   10000,00    1.0
1     41273604   2062      49   10000,00    1.0
2     41273605   2135      50    1000,00    1.0
3     41273606   2135      50   72000,00    1.0
4     41273607   2135      50       1,00    1.0

In [ ]:
#LIMPAR MEMORIA
del empresaTratada
import gc
gc.collect()

0

TRATAMENTO DE DADOS INICIAL ARQUIVOS ESTABELECIMENTO DA BASE RFB  K3241.K03200Y0.D20312.ESTABELE.CSV A K3241.K03200Y10.D20312.ESTABELE.CSV

In [ ]:
#IMPORTAR TABELA ESTABELECIMENTOS #0
os.chdir(caminho)
estab0 = pd.read_csv('K3241.K03200Y0.D20312.ESTABELE.CSV', sep=';', encoding='ISO-8859-1')
estab0.columns = ['CNPJ_BASICO','CNPJ_ORDEM','CNPJ_DV','IDE_MAT_FIL','NOME_FANT','SIT_CADASTRAL','DATA_SIT_CADAS','MOT_SIT_CADAS','NOME_DA_CID','PAIS','DATA_INI_ATV','CNAE_FISCAL','CNAE_FISCAL_SEC','TIPO_DE_LOG','LOGRADOURO','NUMERO','COMPL','BAIRRO','CEP','UF','MUNICIPIO','DDD_1','TELEFONE_1','DDD_2','TELEFONE_2','DDD_DO_FAX','FAX','CORREIO_ELET','SITUACAO_ESPECIAL','DATA_DA_SIT']

#EXPORTAR TABELA ESTAB 0 
os.chdir(tratada)
estab0.to_csv(r'estab0.csv', index = False)

#LIMPAR MEMORIA
del estab0
import gc
gc.collect()

c:\Users\Elisangela\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (8,21,22,24,26,28) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

0

In [ ]:
#IMPORTAR TABELA ESTABELECIMENTOS #1
os.chdir(caminho)
estab1 = pd.read_csv('K3241.K03200Y1.D20312.ESTABELE.CSV', sep=';', encoding='ISO-8859-1')
estab1.columns = ['CNPJ_BASICO','CNPJ_ORDEM','CNPJ_DV','IDE_MAT_FIL','NOME_FANT','SIT_CADASTRAL','DATA_SIT_CADAS','MOT_SIT_CADAS','NOME_DA_CID','PAIS','DATA_INI_ATV','CNAE_FISCAL','CNAE_FISCAL_SEC','TIPO_DE_LOG','LOGRADOURO','NUMERO','COMPL','BAIRRO','CEP','UF','MUNICIPIO','DDD_1','TELEFONE_1','DDD_2','TELEFONE_2','DDD_DO_FAX','FAX','CORREIO_ELET','SITUACAO_ESPECIAL','DATA_DA_SIT']

#EXPORTAR TABELA ESTAB 1 
os.chdir(tratada)
estab1.to_csv(r'estab1.csv', index = False)

#LIMPAR MEMORIA
del estab1
import gc
gc.collect()

0

In [ ]:
#IMPORTAR TABELA ESTABELECIMENTOS #2
os.chdir(caminho)
estab2 = pd.read_csv('K3241.K03200Y2.D20312.ESTABELE.csv', sep=';', encoding='ISO-8859-1')
estab2.columns = ['CNPJ_BASICO','CNPJ_ORDEM','CNPJ_DV','IDE_MAT_FIL','NOME_FANT','SIT_CADASTRAL','DATA_SIT_CADAS','MOT_SIT_CADAS','NOME_DA_CID','PAIS','DATA_INI_ATV','CNAE_FISCAL','CNAE_FISCAL_SEC','TIPO_DE_LOG','LOGRADOURO','NUMERO','COMPL','BAIRRO','CEP','UF','MUNICIPIO','DDD_1','TELEFONE_1','DDD_2','TELEFONE_2','DDD_DO_FAX','FAX','CORREIO_ELET','SITUACAO_ESPECIAL','DATA_DA_SIT']

#EXPORTAR TABELA ESTAB 2 
os.chdir(tratada)
estab2.to_csv(r'estab2.csv', index = False)

#LIMPAR MEMORIA
del estab2
import gc
gc.collect()

c:\Users\Elisangela\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (8,21,22,24,25,26,28) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

0

In [ ]:
#IMPORTAR TABELA ESTABELECIMENTOS #3
os.chdir(caminho)
estab3 = pd.read_csv('K3241.K03200Y3.D20312.ESTABELE.csv', sep=';', encoding='ISO-8859-1')
estab3.columns = ['CNPJ_BASICO','CNPJ_ORDEM','CNPJ_DV','IDE_MAT_FIL','NOME_FANT','SIT_CADASTRAL','DATA_SIT_CADAS','MOT_SIT_CADAS','NOME_DA_CID','PAIS','DATA_INI_ATV','CNAE_FISCAL','CNAE_FISCAL_SEC','TIPO_DE_LOG','LOGRADOURO','NUMERO','COMPL','BAIRRO','CEP','UF','MUNICIPIO','DDD_1','TELEFONE_1','DDD_2','TELEFONE_2','DDD_DO_FAX','FAX','CORREIO_ELET','SITUACAO_ESPECIAL','DATA_DA_SIT']

#EXPORTAR TABELA ESTAB 3 
os.chdir(tratada)
estab3.to_csv(r'estab3.csv', index = False)

#LIMPAR MEMORIA
del estab3
import gc
gc.collect()

0

In [ ]:
#IMPORTAR TABELA ESTABELECIMENTOS #4
os.chdir(caminho)
estab4 = pd.read_csv('K3241.K03200Y4.D20312.ESTABELE.csv', sep=';', encoding='ISO-8859-1')
estab4.columns = ['CNPJ_BASICO','CNPJ_ORDEM','CNPJ_DV','IDE_MAT_FIL','NOME_FANT','SIT_CADASTRAL','DATA_SIT_CADAS','MOT_SIT_CADAS','NOME_DA_CID','PAIS','DATA_INI_ATV','CNAE_FISCAL','CNAE_FISCAL_SEC','TIPO_DE_LOG','LOGRADOURO','NUMERO','COMPL','BAIRRO','CEP','UF','MUNICIPIO','DDD_1','TELEFONE_1','DDD_2','TELEFONE_2','DDD_DO_FAX','FAX','CORREIO_ELET','SITUACAO_ESPECIAL','DATA_DA_SIT']

#EXPORTAR TABELA ESTAB 4 
os.chdir(tratada)
estab4.to_csv(r'estab4.csv', index = False)

#LIMPAR MEMORIA
del estab4
import gc
gc.collect()

0

In [ ]:
#IMPORTAR TABELA ESTABELECIMENTOS #5
os.chdir(caminho)
estab5 = pd.read_csv('K3241.K03200Y5.D20312.ESTABELE.csv', sep=';', encoding='ISO-8859-1')
estab5.columns = ['CNPJ_BASICO','CNPJ_ORDEM','CNPJ_DV','IDE_MAT_FIL','NOME_FANT','SIT_CADASTRAL','DATA_SIT_CADAS','MOT_SIT_CADAS','NOME_DA_CID','PAIS','DATA_INI_ATV','CNAE_FISCAL','CNAE_FISCAL_SEC','TIPO_DE_LOG','LOGRADOURO','NUMERO','COMPL','BAIRRO','CEP','UF','MUNICIPIO','DDD_1','TELEFONE_1','DDD_2','TELEFONE_2','DDD_DO_FAX','FAX','CORREIO_ELET','SITUACAO_ESPECIAL','DATA_DA_SIT']

#EXPORTAR TABELA ESTAB 5 
os.chdir(tratada)
estab5.to_csv(r'estab5.csv', index = False)

#LIMPAR MEMORIA
del estab5
import gc
gc.collect()

c:\Users\Elisangela\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (8,18,21,22,24,26,28) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

0

In [ ]:
#IMPORTAR TABELA ESTABELECIMENTOS #6
os.chdir(caminho)
estab6 = pd.read_csv('K3241.K03200Y6.D20312.ESTABELE.csv', sep=';', encoding='ISO-8859-1')
estab6.columns = ['CNPJ_BASICO','CNPJ_ORDEM','CNPJ_DV','IDE_MAT_FIL','NOME_FANT','SIT_CADASTRAL','DATA_SIT_CADAS','MOT_SIT_CADAS','NOME_DA_CID','PAIS','DATA_INI_ATV','CNAE_FISCAL','CNAE_FISCAL_SEC','TIPO_DE_LOG','LOGRADOURO','NUMERO','COMPL','BAIRRO','CEP','UF','MUNICIPIO','DDD_1','TELEFONE_1','DDD_2','TELEFONE_2','DDD_DO_FAX','FAX','CORREIO_ELET','SITUACAO_ESPECIAL','DATA_DA_SIT']

#EXPORTAR TABELA ESTAB 6
os.chdir(tratada)
estab6.to_csv(r'estab6.csv', index = False)

#LIMPAR MEMORIA
del estab6
import gc
gc.collect()

0

In [ ]:
#IMPORTAR TABELA ESTABELECIMENTOS #7
os.chdir(caminho)
estab7 = pd.read_csv('K3241.K03200Y7.D20312.ESTABELE.csv', sep=';', encoding='ISO-8859-1')
estab7.columns = ['CNPJ_BASICO','CNPJ_ORDEM','CNPJ_DV','IDE_MAT_FIL','NOME_FANT','SIT_CADASTRAL','DATA_SIT_CADAS','MOT_SIT_CADAS','NOME_DA_CID','PAIS','DATA_INI_ATV','CNAE_FISCAL','CNAE_FISCAL_SEC','TIPO_DE_LOG','LOGRADOURO','NUMERO','COMPL','BAIRRO','CEP','UF','MUNICIPIO','DDD_1','TELEFONE_1','DDD_2','TELEFONE_2','DDD_DO_FAX','FAX','CORREIO_ELET','SITUACAO_ESPECIAL','DATA_DA_SIT']

#EXPORTAR TABELA ESTAB 7
os.chdir(tratada)
estab7.to_csv(r'estab7.csv', index = False)

#LIMPAR MEMORIA
del estab7
import gc
gc.collect()

0

In [ ]:
#IMPORTAR TABELA ESTABELECIMENTOS #8
os.chdir(caminho)
estab8 = pd.read_csv('K3241.K03200Y8.D20312.ESTABELE.csv', sep=';', encoding='ISO-8859-1')
estab8.columns = ['CNPJ_BASICO','CNPJ_ORDEM','CNPJ_DV','IDE_MAT_FIL','NOME_FANT','SIT_CADASTRAL','DATA_SIT_CADAS','MOT_SIT_CADAS','NOME_DA_CID','PAIS','DATA_INI_ATV','CNAE_FISCAL','CNAE_FISCAL_SEC','TIPO_DE_LOG','LOGRADOURO','NUMERO','COMPL','BAIRRO','CEP','UF','MUNICIPIO','DDD_1','TELEFONE_1','DDD_2','TELEFONE_2','DDD_DO_FAX','FAX','CORREIO_ELET','SITUACAO_ESPECIAL','DATA_DA_SIT']

#EXPORTAR TABELA ESTAB 8
os.chdir(tratada)
estab8.to_csv(r'estab8.csv', index = False)

#LIMPAR MEMORIA
del estab8
import gc
gc.collect()

0

In [ ]:
#IMPORTAR TABELA ESTABELECIMENTOS #9
os.chdir(caminho)
estab9 = pd.read_csv('K3241.K03200Y9.D20312.ESTABELE.CSV', sep=';', encoding='ISO-8859-1')
estab9.columns = ['CNPJ_BASICO','CNPJ_ORDEM','CNPJ_DV','IDE_MAT_FIL','NOME_FANT','SIT_CADASTRAL','DATA_SIT_CADAS','MOT_SIT_CADAS','NOME_DA_CID','PAIS','DATA_INI_ATV','CNAE_FISCAL','CNAE_FISCAL_SEC','TIPO_DE_LOG','LOGRADOURO','NUMERO','COMPL','BAIRRO','CEP','UF','MUNICIPIO','DDD_1','TELEFONE_1','DDD_2','TELEFONE_2','DDD_DO_FAX','FAX','CORREIO_ELET','SITUACAO_ESPECIAL','DATA_DA_SIT']

#EXPORTAR TABELA ESTAB 9
os.chdir(tratada)
estab9.to_csv(r'estab9.csv', index = False)

#LIMPAR MEMORIA
del estab9
import gc
gc.collect()

0

In [ ]:

os.chdir(tratada)
#IMPORTAR ESTABELECIMENTO 
estab0 = pd.read_csv('estab0.csv', sep=',', encoding='UTF-8', usecols= ['CNPJ_BASICO','CNPJ_ORDEM','CNPJ_DV','IDE_MAT_FIL','SIT_CADASTRAL','DATA_SIT_CADAS','MOT_SIT_CADAS','DATA_INI_ATV','CNAE_FISCAL','CNAE_FISCAL_SEC','UF','MUNICIPIO'])
estab1 = pd.read_csv('estab1.csv', sep=',', encoding='UTF-8', usecols= ['CNPJ_BASICO','CNPJ_ORDEM','CNPJ_DV','IDE_MAT_FIL','SIT_CADASTRAL','DATA_SIT_CADAS','MOT_SIT_CADAS','DATA_INI_ATV','CNAE_FISCAL','CNAE_FISCAL_SEC','UF','MUNICIPIO'])
estab2 = pd.read_csv('estab2.csv', sep=',', encoding='UTF-8', usecols= ['CNPJ_BASICO','CNPJ_ORDEM','CNPJ_DV','IDE_MAT_FIL','SIT_CADASTRAL','DATA_SIT_CADAS','MOT_SIT_CADAS','DATA_INI_ATV','CNAE_FISCAL','CNAE_FISCAL_SEC','UF','MUNICIPIO'])
estab3 = pd.read_csv('estab3.csv', sep=',', encoding='UTF-8', usecols= ['CNPJ_BASICO','CNPJ_ORDEM','CNPJ_DV','IDE_MAT_FIL','SIT_CADASTRAL','DATA_SIT_CADAS','MOT_SIT_CADAS','DATA_INI_ATV','CNAE_FISCAL','CNAE_FISCAL_SEC','UF','MUNICIPIO'])
estab4 = pd.read_csv('estab4.csv', sep=',', encoding='UTF-8', usecols= ['CNPJ_BASICO','CNPJ_ORDEM','CNPJ_DV','IDE_MAT_FIL','SIT_CADASTRAL','DATA_SIT_CADAS','MOT_SIT_CADAS','DATA_INI_ATV','CNAE_FISCAL','CNAE_FISCAL_SEC','UF','MUNICIPIO'])
estab5 = pd.read_csv('estab5.csv', sep=',', encoding='UTF-8', usecols= ['CNPJ_BASICO','CNPJ_ORDEM','CNPJ_DV','IDE_MAT_FIL','SIT_CADASTRAL','DATA_SIT_CADAS','MOT_SIT_CADAS','DATA_INI_ATV','CNAE_FISCAL','CNAE_FISCAL_SEC','UF','MUNICIPIO'])
estab6 = pd.read_csv('estab6.csv', sep=',', encoding='UTF-8', usecols= ['CNPJ_BASICO','CNPJ_ORDEM','CNPJ_DV','IDE_MAT_FIL','SIT_CADASTRAL','DATA_SIT_CADAS','MOT_SIT_CADAS','DATA_INI_ATV','CNAE_FISCAL','CNAE_FISCAL_SEC','UF','MUNICIPIO'])
estab7 = pd.read_csv('estab7.csv', sep=',', encoding='UTF-8', usecols= ['CNPJ_BASICO','CNPJ_ORDEM','CNPJ_DV','IDE_MAT_FIL','SIT_CADASTRAL','DATA_SIT_CADAS','MOT_SIT_CADAS','DATA_INI_ATV','CNAE_FISCAL','CNAE_FISCAL_SEC','UF','MUNICIPIO'])
estab8 = pd.read_csv('estab8.csv', sep=',', encoding='UTF-8', usecols= ['CNPJ_BASICO','CNPJ_ORDEM','CNPJ_DV','IDE_MAT_FIL','SIT_CADASTRAL','DATA_SIT_CADAS','MOT_SIT_CADAS','DATA_INI_ATV','CNAE_FISCAL','CNAE_FISCAL_SEC','UF','MUNICIPIO'])
estab9 = pd.read_csv('estab9.csv', sep=',', encoding='UTF-8', usecols= ['CNPJ_BASICO','CNPJ_ORDEM','CNPJ_DV','IDE_MAT_FIL','SIT_CADASTRAL','DATA_SIT_CADAS','MOT_SIT_CADAS','DATA_INI_ATV','CNAE_FISCAL','CNAE_FISCAL_SEC','UF','MUNICIPIO'])

In [ ]:
# JUNTAR DATAFRAME ESTABELECIMENTO

estabTratada = estab0.append(estab1)
estabTratada = estabTratada.append(estab2)
estabTratada = estabTratada.append(estab3)
estabTratada = estabTratada.append(estab4)
estabTratada = estabTratada.append(estab5)
estabTratada = estabTratada.append(estab6)
estabTratada = estabTratada.append(estab7)
estabTratada = estabTratada.append(estab8)
estabTratada = estabTratada.append(estab9)

In [ ]:
# VERIFICAR INTEGRIDADE DE REGISTROS DE ESTABELECIMENTO
print('Estab 0 contem ', estab0.shape, ' registros')
print('Estab 1 contem ', estab1.shape, ' registros')
print('Estab 2 contem ', estab2.shape, ' registros')
print('Estab 3 contem ', estab3.shape, ' registros')
print('Estab 4 contem ', estab4.shape, ' registros')
print('Estab 5 contem ', estab5.shape, ' registros')
print('Estab 5 contem ', estab6.shape, ' registros')
print('Estab 5 contem ', estab7.shape, ' registros')
print('Estab 8 contem ', estab8.shape, ' registros')
print('Estab 9 contem ', estab9.shape, ' registros')
print('Total de registros = ', estab0.shape[0] + estab1.shape[0] + estab2.shape[0] + estab3.shape[0] + estab4.shape[0] + estab5.shape[0] + estab6.shape[0] + estab7.shape[0] + estab8.shape[0] + estab9.shape[0])
print('Estabs Total contem ', estabTratada.shape, ' registros')

Estab 0 contem  (9079425, 12)  registros
Estab 1 contem  (4753434, 12)  registros
Estab 2 contem  (4753434, 12)  registros
Estab 3 contem  (4753434, 12)  registros
Estab 4 contem  (4753434, 12)  registros
Estab 5 contem  (4753434, 12)  registros
Estab 5 contem  (4753434, 12)  registros
Estab 5 contem  (4753434, 12)  registros
Estab 8 contem  (4753434, 12)  registros
Estab 9 contem  (4753434, 12)  registros
Total de registros =  51860331
Estabs Total contem  (51860331, 12)  registros

In [ ]:
estab0.head()

,CNPJ_BASICO,CNPJ_ORDEM,CNPJ_DV,IDE_MAT_FIL,SIT_CADASTRAL,DATA_SIT_CADAS,MOT_SIT_CADAS,DATA_INI_ATV,CNAE_FISCAL,CNAE_FISCAL_SEC,UF,MUNICIPIO
0,40521734,1,30,1,8,19911001,1,19910725,4744001,NaN,BA,3993
1,22257653,1,93,1,8,19881124,1,19860828,1412601,1412603,MG,4733
2,57680274,1,96,1,8,20081231,71,19870605,3211601,NaN,SP,6369
3,315164,1,8,1,8,20081231,71,19941122,3101200,NaN,MA,921
4,36174589,1,91,1,8,20150209,73,19900607,8888888,NaN,RJ,6001

In [ ]:
estab1.head()

,CNPJ_BASICO,CNPJ_ORDEM,CNPJ_DV,IDE_MAT_FIL,SIT_CADASTRAL,DATA_SIT_CADAS,MOT_SIT_CADAS,DATA_INI_ATV,CNAE_FISCAL,CNAE_FISCAL_SEC,UF,MUNICIPIO
0,64904295,18,51,2,8,20161110,1,20050429,4639701,4637199,AL,2785
1,76016369,3,16,2,3,20060203,21,19851212,4632001,NaN,SP,7071
2,52302726,1,82,1,4,20210406,63,19830223,4712100,NaN,SP,6131
3,7396923,1,53,1,8,20140115,1,20050516,4721102,NaN,SP,7107
4,3650261,1,45,1,4,20190322,63,19991217,4783101,4783102,SC,8113

In [ ]:
estab2.head()

,CNPJ_BASICO,CNPJ_ORDEM,CNPJ_DV,IDE_MAT_FIL,SIT_CADASTRAL,DATA_SIT_CADAS,MOT_SIT_CADAS,DATA_INI_ATV,CNAE_FISCAL,CNAE_FISCAL_SEC,UF,MUNICIPIO
0,41665219,1,97,1,2,20210422,0,20210422,4619200,NaN,PR,7935
1,41665229,1,22,1,2,20210422,0,20210422,6209100,"6201501,6201502,6202300,6203100,6204000,631190...",PR,7535
2,41665242,1,81,1,2,20210422,0,20210422,4399103,NaN,BA,3849
3,41665252,1,17,1,2,20210422,0,20210422,5590699,0159802,RS,8963
4,41665265,1,96,1,2,20210422,0,20210422,4781400,"4755503,4772500,4782201",AC,155

In [ ]:
estab3.head()

,CNPJ_BASICO,CNPJ_ORDEM,CNPJ_DV,IDE_MAT_FIL,SIT_CADASTRAL,DATA_SIT_CADAS,MOT_SIT_CADAS,DATA_INI_ATV,CNAE_FISCAL,CNAE_FISCAL_SEC,UF,MUNICIPIO
0,37009047,1,26,1,2,20200427,0,20200427,8599604,"2229399,4751201,4789001,4789003",SP,6257
1,33468806,1,68,1,2,20190426,0,20190426,4731800,"4732600,4784900",PI,1053
2,37009071,1,65,1,2,20200427,0,20200427,5611203,"4789099,4723700,4712100,4721102,5611201",PR,7727
3,35695011,1,18,1,8,20210113,1,20191203,1091102,"5620104,1093701",CE,1389
4,37009090,1,91,1,2,20200427,0,20200427,161003,NaN,MT,9891

In [ ]:
estab4.head()

,CNPJ_BASICO,CNPJ_ORDEM,CNPJ_DV,IDE_MAT_FIL,SIT_CADASTRAL,DATA_SIT_CADAS,MOT_SIT_CADAS,DATA_INI_ATV,CNAE_FISCAL,CNAE_FISCAL_SEC,UF,MUNICIPIO
0,4939072,22,84,2,2,20181129,0,20181129,4752100,"4751201,9512600",GO,9459
1,32137396,1,0,1,2,20181129,0,20181129,8630504,"3250706,4773300",SP,6543
2,32137405,1,62,1,2,20181129,0,20181129,8219999,NaN,PR,7535
3,32137418,1,31,1,4,20210325,63,20181129,5620104,NaN,RJ,6001
4,32137426,1,88,1,2,20181129,0,20181129,4691500,"4712100,4763601,4753900,4761003",SP,7097

In [ ]:
estab5.head()

,CNPJ_BASICO,CNPJ_ORDEM,CNPJ_DV,IDE_MAT_FIL,SIT_CADASTRAL,DATA_SIT_CADAS,MOT_SIT_CADAS,DATA_INI_ATV,CNAE_FISCAL,CNAE_FISCAL_SEC,UF,MUNICIPIO
0,27042354,1,55,1,2,20170206,0,20170206,5611204,"4712100,4724500,5611203",MG,5213
1,27042366,1,80,1,8,20181130,1,20170206,9602502,NaN,MT,9151
2,27042376,1,15,1,8,20181006,1,20170206,7319002,NaN,PA,447
3,27042390,1,19,1,8,20180118,1,20170206,1351100,"4781400,9601702,1629301,1340599",SC,8165
4,27042402,1,5,1,8,20170328,1,20170206,9512600,NaN,SP,6635

In [ ]:
estab6.head()

,CNPJ_BASICO,CNPJ_ORDEM,CNPJ_DV,IDE_MAT_FIL,SIT_CADASTRAL,DATA_SIT_CADAS,MOT_SIT_CADAS,DATA_INI_ATV,CNAE_FISCAL,CNAE_FISCAL_SEC,UF,MUNICIPIO
0,23794417,1,79,1,4,20210319,63,20151204,3299099,NaN,RJ,2909
1,23794427,1,4,1,2,20151204,0,20151204,2532201,"2593400,2229301",CE,1373
2,23794438,1,94,1,8,20170331,1,20151204,4322301,"8121400,4322302,4321500",CE,1389
3,23794451,1,43,1,4,20190129,63,20150914,9492800,NaN,PI,350
4,23794463,1,78,1,2,20151204,0,20151204,4520002,"4530703,4530704,4541206,4541207",MG,4267

In [ ]:
estab7.head()

,CNPJ_BASICO,CNPJ_ORDEM,CNPJ_DV,IDE_MAT_FIL,SIT_CADASTRAL,DATA_SIT_CADAS,MOT_SIT_CADAS,DATA_INI_ATV,CNAE_FISCAL,CNAE_FISCAL_SEC,UF,MUNICIPIO
0,18392485,1,71,1,4,20181107,63,20130701,9511800,"4751201,4751202,9521500,4789008,4752100",PI,1123
1,18392493,1,18,1,2,20130522,0,20130522,8800600,NaN,RS,8651
2,18392504,1,60,1,8,20160628,1,20130701,7319003,8230001,SP,7107
3,18392518,1,83,1,4,20201027,63,20130617,1813001,"4759801,5823900",PR,7563
4,18392529,1,63,1,8,20141222,1,20130701,5223100,NaN,SP,7071

In [ ]:
estab8.head()

,CNPJ_BASICO,CNPJ_ORDEM,CNPJ_DV,IDE_MAT_FIL,SIT_CADASTRAL,DATA_SIT_CADAS,MOT_SIT_CADAS,DATA_INI_ATV,CNAE_FISCAL,CNAE_FISCAL_SEC,UF,MUNICIPIO
0,14493984,1,2,1,2,20211001,0,20111020,7319002,NaN,PE,2381
1,14493997,1,73,1,2,20220118,0,20111020,4712100,"7729202,1412602,4723700,4721103,4755502,475550...",SP,6477
2,14494036,1,83,1,8,20171017,1,20111020,1531902,NaN,RJ,5841
3,14494024,1,59,1,2,20111020,0,20111020,4330404,4399103,SP,7107
4,14494035,1,39,1,2,20111020,0,20111020,4789008,"6190699,9001902",MG,4141

In [ ]:
estab9.head()

,CNPJ_BASICO,CNPJ_ORDEM,CNPJ_DV,IDE_MAT_FIL,SIT_CADASTRAL,DATA_SIT_CADAS,MOT_SIT_CADAS,DATA_INI_ATV,CNAE_FISCAL,CNAE_FISCAL_SEC,UF,MUNICIPIO
0,8810623,1,31,1,4,20181127,63,20070420,4781400,"4759899,4789001",PR,7493
1,8810643,1,2,1,8,20090618,1,20070504,4712100,NaN,MG,4643
2,8810658,1,70,1,2,20070510,0,20070510,4744005,"4330499,4742300,4743100,4744099,4789005,493020...",RS,8729
3,8810672,1,74,1,2,20220107,0,20070507,4723700,"4761003,8211300",MG,4431
4,8810684,1,7,1,4,20190227,63,20070405,4619200,NaN,SP,6229

In [ ]:
# verifica se existe qualquer variável com dados faltantes
print(pd.isnull(estabTratada).sum())

CNPJ_BASICO               0
CNPJ_ORDEM                0
CNPJ_DV                   0
IDE_MAT_FIL               0
SIT_CADASTRAL             0
DATA_SIT_CADAS            0
MOT_SIT_CADAS             0
DATA_INI_ATV              0
CNAE_FISCAL               0
CNAE_FISCAL_SEC    29223453
UF                        0
MUNICIPIO                 0
dtype: int64

In [ ]:
estabTratada.shape

(51860331, 12)

In [ ]:
estabTratada.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51860331 entries, 0 to 4753433
Data columns (total 12 columns):
 #   Column           Dtype
---  ------           -----
 0   CNPJ_BASICO      int64
 1   CNPJ_ORDEM       int64
 2   CNPJ_DV          int64
 3   IDE_MAT_FIL      int64
 4   SIT_CADASTRAL    int64
 5   DATA_SIT_CADAS   int64
 6   MOT_SIT_CADAS    int64
 7   DATA_INI_ATV     int64
 8   CNAE_FISCAL      int64
 9   CNAE_FISCAL_SEC  object
 10  UF               object
 11  MUNICIPIO        int64
dtypes: int64(10), object(2)
memory usage: 5.0+ GB

In [ ]:
estabTratada.head()

,CNPJ_BASICO,CNPJ_ORDEM,CNPJ_DV,IDE_MAT_FIL,SIT_CADASTRAL,DATA_SIT_CADAS,MOT_SIT_CADAS,DATA_INI_ATV,CNAE_FISCAL,CNAE_FISCAL_SEC,UF,MUNICIPIO
0,40521734,1,30,1,8,19911001,1,19910725,4744001,NaN,BA,3993
1,22257653,1,93,1,8,19881124,1,19860828,1412601,1412603,MG,4733
2,57680274,1,96,1,8,20081231,71,19870605,3211601,NaN,SP,6369
3,315164,1,8,1,8,20081231,71,19941122,3101200,NaN,MA,921
4,36174589,1,91,1,8,20150209,73,19900607,8888888,NaN,RJ,6001

In [ ]:
#EXPORTAR TABELA EMPRESA TOTAL (empresa)
estabTratada.to_csv(r'estabTratada.csv', index = False)

In [ ]:
#LIMPAR MEMORIA
del estabTratada
del estab0
del estab1
del estab2
del estab3
del estab4
del estab5
del estab6
del estab7
del estab8
del estab9
del empresa0
del empresa1
del empresa2
del empresa3
del empresa4
del empresa5
del empresa6
del empresa7
del empresa8
del empresa9
import gc
gc.collect()